{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %}Image Recognition | AI Course-work{% endblock %}
{% block content %}

<div class="page-wrapper bg-light p-t-100 font-poppins">
  <div class="wrapper wrapper--w780">
      <div class="card card-4">
          <div class="card-body">
              <h2 class="title">Update Client</h2>
              <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
              <form action="" method="POST"  enctype="multipart/form-data" class="row g-3" >
                {% csrf_token %}
                <div class="col-md-6">
                    <label for="validationDefault01" class="form-label">First name</label>
                    <input name="first_name" type="text" class="form-control" id="validationDefault01" value="{{client.first_name}}"  required>
                  </div>
                  <div class="col-md-6">
                    <label for="validationDefault02" class="form-label">Last name</label>
                    <input name="last_name" type="text" class="form-control" id="validationDefault02" value="{{client.last_name}}" required>
                  </div>
                  <div class="col-md-4">
                    <label for="validationDefaultUsername" class="form-label">Username</label>
                    <div class="input-group">
                      <span class="input-group-text" id="inputGroupPrepend2">@</span>
                      <input name="username" type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" value="{{client.username}}"  required>
                    </div>
                  </div>
                  
                  <div class="col-md-4">
                    <label for="validationDefault04" class="form-label">Gender</label>
                    <select name="gender" class="form-select " id="validationDefault04"  required>
                      <option selected disabled value="">Choose  Gender</option>
                      
                      {% if client.user_gender == "Male" %}
                      <option  selected>Male</option>
                      {% endif %}
                      
                      <option >Female</option>
                     
                     
                    </select>
                  </div>
                  <div class="col-md-4">
                    <label for="validationDefault04" class="form-label">Database</label>
                    <select name="database" class="form-select " id="validationDefault04" required>
                      <option selected disabled value="">Choose Database</option>
                      {% if client.user_database == "My Database" %}
                      <option selected>My Database</option>
                      {% endif %}
                      <option>ORL Database</option>
                    </select>
                  </div>
                
                              <br>
                              <div class="col-12 text-center">
                                <button class="btn btn-primary" type="submit">Save and Next</button>
                              </div>
                          </form>  
          </div>
      </div>
  </div>
</div>





{% endblock %}
